/* 배경색 */
.bg {
  position: fixed;
  inset: 0;
  background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=1600");
  background-size: cover;
  background-position: center;
  z-index: -2;
}
.bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(235, 245, 255, 0.65),
    rgba(255, 255, 255, 0.35)
  );
}
.bg.dark::after {
  background: linear-gradient(
    180deg,
    rgba(10, 20, 35, 0.3),
    rgba(15, 23, 42, 0.4)
  );
}
.bg {
  transition:
    background-image 0.6s ease,
    filter 0.6s ease,
    transform 0.6s ease;
  animation: clearMove 20s ease-in-out infinite alternate;
}

@keyframes clearMove {
  from { background-position: center top; }
  to { background-position: center bottom; }
}


/* rain 비 */
.bg.bg-rain {
  background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  transform: scale(1.05);
}

.bg.bg-rain::after {
  background: linear-gradient(
    180deg,
    rgba(235, 245, 255, 0.15),
    rgba(255, 255, 255, 0.15)
  );
}
.bg.dark.bg-rain::after {
  background: linear-gradient(
    180deg,
    rgba(5, 10, 20, 0.35),
    rgba(0, 0, 0, 0.35)
  );
}

.bg.bg-rain::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/bg/rain-overlay.png") repeat;
  opacity: 0.15;
  animation: rainMove 12s linear infinite;
}

@keyframes rainMove {
  from { background-position: 0 0; }
  to { background-position: -500px 1000px; }
}

/* cloud */
.bg.bg-clouds {
  background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=1600");
  background-position: center;
  filter: blur(3px);
  transform: scale(1.03);
}

.bg.bg-clouds::after {
  background: linear-gradient(
    180deg,
    rgba(220, 225, 230, 0.65),
    rgba(190, 195, 200, 0.55)
  );
}
.bg.dark.bg-clouds::after {
  background: linear-gradient(
    180deg,
    rgba(25, 30, 40, 0.45),
    rgba(15, 20, 30, 0.6)
  );
}

/* clear */
.bg.bg-clear {
  background-image: url("https://images.unsplash.com/photo-1531147646552-1eec68116469?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  filter: none;
}
.bg.bg-clear::after {
   background: linear-gradient(
    180deg,
    rgba(235, 245, 255, 0.45),
    rgba(255, 255, 255, 0.35)
  );
}
.bg.dark.bg-clear::after {
  background: linear-gradient(
    180deg,
    rgba(15, 20, 35, 0.2),
    rgba(10, 15, 30, 0.35)
  );
}

/* haze 안개 */
.bg.bg-haze {
  background-image: url("https://images.unsplash.com/photo-1533757704860-384affeed946?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  transform: scale(1.05);
}

.bg.dark.bg-haze::after {
  background: linear-gradient(
    180deg,
    rgba(15, 20, 35, 0.2),
    rgba(10, 15, 30, 0.35)
  );}

